@import "tailwindcss";


@font-face {
  font-family: "IRANYekan800";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-ExtraBold.woff") format("woff");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-ExtraBold.woff2") format("woff2");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan700";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Bold.woff") format("woff");  
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Bold.woff2") format("woff2");  
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Bold.ttf") format("ttf");  
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan600";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-DemiBold.ttf") format("ttf");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-DemiBold.woff") format("woff");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan500";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Medium.ttf") format("ttf");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Medium.woff") format("woff");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan400";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Regular.ttf") format("ttf");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Regular.woff") format("woff");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanr300";
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Light.woff") format("woff");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Light.woff2") format("woff2");
  src: url("https://cdn.basiscore.net/_fonts/IRANYekanX-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan200";
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-UltraLight.ttf") format("ttf");
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-UltraLight.woff") format("woff");
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan100";
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-Thin.woff") format("woff");
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-Thin.woff2") format("woff2");
  src: url("./https://cdn.basiscore.net/_fonts/IRANYekanX-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PxGrotesk400";
  src: url("./https://cdn.basiscore.net/_fonts/Px-Grotesk-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RalewayDots400";
  src: url("./../fonts/RalewayDots-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-IRANYekan800: "IRANYekan800" !important;
  --font-IRANYekan700: "IRANYekan700" !important;
  --font-IRANYekan600: "IRANYekan600" !important;
  --font-IRANYekan500: "IRANYekan500" !important;
  --font-IRANYekan400: "IRANYekan400" !important;
  --font-IRANYekan300: "IRANYekan300" !important;
  --font-IRANYekan200: "IRANYekan200" !important;
  --font-IRANYekan100: "IRANYekan100" !important;
  --font-PxGrotesk400: "PxGrotesk400" !important;
  --font-RalewayDots400: "RalewayDots400" !important;

  --color-main: #FFCB08;
  --color-gray-50: #FAFAFA;
  --color-gray-400: #A1A1AA;
  --color-gray-300: #D4D4D8;
  --color-gray-600: #52525B;
  --color-gray-700: #3F3F46;
  --color-gray-800: #27272A;
  --color-back-gray: #171717;
  --text-main: #FFCB08;
  --text-gray-50: #FAFAFA;
  --text-gray-400: #A1A1AA;
  --text-gray-300: #D4D4D8;
  --text-gray-600: #52525B;
  --text-gray-700: #3F3F46;
  --text-gray-800: #27272A;
  --text-back-gray: #171717;

  --spacing-90p: 90%;
  --spacing-80p: 80%;
}

* {
  direction: rtl;
}
.hidden-popup {
  opacity: 1 !important;
  display: flex  !important;
  transition: opacity 0.3s ease !important;    
}

.scrollTop {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.8s ease;
}
.scrollTop.visible {
  opacity: 1;
  transform: translateY(0);
}